{% extends 'shop_games/base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Продукт</th>
                </tr>
              </thead>
              <tbody>
              {% for item in basket %}
                  <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ item.name }}</td>
                      <td>{{ item.price }}</td>
                  </tr>
              {% endfor %}


              </tbody>
            </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
