{% load static %}
<!--Contacts-->
<div class="about-us-contact">

    <h2>Contact Us</h2>
    <div class="contacts-us-2">
        <div class="contacts-2">
            <span>Get in touch with us</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets<br>
                containing Lorem Ipsum passages sed do, At vero eos et accusamus et<br>
                iusto odio digs qui blanditiis
                <br><br>
                Leningradsky AVE 39, BLDG 79<br>
                MOSCOW 125167, Russia
                <br><br>
                Telephone : +00 111 222 3333
                <br><br>
                FAX : +1 888 888 4444
                <br><br>
                Email : <span id="email-2">mail@example.com</span></p>
        </div>
        <form action="#">
            <input type="text" placeholder="Name"><br>
            <input type="text" placeholder="Email"><br>
            <textarea rows="10" cols="45" name="text" placeholder="Message"></textarea><br>
            <input type="submit" value="SUBMIT" name="send">

        </form>
    </div>

</div>
