{% load static %}
<!--Event-->
<h2>News & Events</h2>
<div class="news">
    <div>
        <span>Latest News</span>
        <table>
            <tr>
                <td class="one-td">
                    <div class="last">
                        <p class="number">15</p>
                        <p class="month">June</p>
                        <p class="year">2016</p>
                    </div>
                </td>
                <td class="two-td description"><span>Fugiat Quo Voluptas</span>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                        velit esse.</p>
                </td>
            </tr>
            <tr>
                <td class="one-td">
                    <div class="last">
                        <p class="number">18</p>
                        <p class="month">June</p>
                        <p class="year">2016</p>
                    </div>
                </td>
                <td class="two-td description"><span>FugQui In Ea Voluptate</span>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                        velit esse.</p>
                </td>
            </tr>
            <tr>
                <td class="one-td">
                    <div class="last">
                        <p class="number">20</p>
                        <p class="month">June</p>
                        <p class="year">2016</p>
                    </div>
                </td>
                <td class="two-td description"><span>Autem Vel Eum Iure</span>
                    <p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                        velit esse.</p>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <span>Featured Events</span>
        <div class="feature-img">
            <img src="{% static 'shop_games/img/1.png' %}" alt="">
            <img src="{% static 'shop_games/img/2.png' %}" alt="">
            <img src="{% static 'shop_games/img/3.png' %}" alt="">
        </div>
        <div class="feature">
            <details>
                <summary>Assumenda Est Cliche Reprehenderit</summary>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                    make a type specimen
                    book.</p>
            </details>
            <details>
                <summary>Assumenda Est Cliche Reprehenderit</summary>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make
                    a type specimen book.</p>
            </details>
            <details>
                <summary>Assumenda Est Cliche Reprehenderit</summary>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make
                    a type specimen book.</p>
            </details>
            <details>
                <summary>Assumenda Est Cliche Reprehenderit</summary>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make
                    a type specimen book.</p>
            </details>
        </div>
    </div>
</div>
