{% load static %}
<!-- Верхний блок -->
<div class="sitebar-contact">
    <!-- Серая полоса -->
    <div class="nav-line" style="opacity: 0.7;">
        <div class="name vertical">
            <p class="name-1">Historical
            <p class="name-2">GAMES</p>
        </div>
        <div class="vertical nav-line-img"><img src="{% static 'shop_games/img/tel_76.png' %}" alt="tel"></div>
        <div class="vertical"><a class="telephon" href="tel:1234567890">+123 456 7890</a></div>

        <div class="vertical"><img src="{% static 'shop_games/img/email.png' %}" alt="email"></div>
        <div class="vertical"><a class="email" href="mailto:info@example.com">info@example.com</a></div>
        <div class="search1 vertical">
            <div class="search">
                <div class="search">
                    <form action="#">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Menu-->
    <div class="sitebar-content">
        <div class="menu-contact">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a id="active-2" href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'gallery:index' %}">Gallery</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'team' %}">Team</a></li>
                <li><a href="{% url 'contacts' %}">Contact Us</a></li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin_staff:users' %}">
                        Админка
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'auth:edit' %}">
                        {{ user.first_name|default:'User' }}
                    </a>
                </li>
                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'auth:logout' %}">Sign out</a>
                    {% else %}
                    <a href="{% url 'auth:login' %}">Sign in</a>
                    {% endif %}
                </li>
                <li><a href="{% url 'basket:view' %}" class="basket">
                      <span>
                        {% if basket %}
                          {{ basket.0.total_cost|floatformat:0 }} руб
                          ({{ basket.0.total_quantity }} шт)
                        {% endif %}
                      </span>
                    Корзина здесь
                </a></li>
            </ul>
        </div>
    </div>
</div>
