{% load static %}
<!--Our team-->
<div class="team">
    <h2>Our Team</h2>
    <div class="people">
        <div>
            <img class="people-img" src="{% static 'shop_games/img/Mary.jpg' %}" alt="Mary">
            <p class="team-name">Mary Jane</p>
            <p class="team-prof">Vestibulum</p>
            <div class="social-team">
                <a href="http://facebook.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a>
                <a href="http://twitter.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a>
                <a href="http://rss.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-rss" aria-hidden="true"></i></div>
                </a>
                <a href="http://vk.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-vk" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div>
            <img src="{% static 'shop_games/img/Peter.jpg' %}" alt="Peter">
            <p class="team-name">Peter Parker</p>
            <p class="team-prof">Vestibulum</p>
            <div class="social-team">
                <a href="http://facebook.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a>
                <a href="http://twitter.com" target=" _blank">
                    <div class="team-cont"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a>
                <a href="http://rss.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-rss" aria-hidden="true"></i></div>
                </a>
                <a href="http://vk.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-vk" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div>
            <img src="{% static 'shop_games/img/John.jpg' %}" alt="John">
            <p class="team-name">John Watson</p>
            <p class="team-prof">Vestibulum</p>
            <div class="social-team">
                <a href="http://facebook.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a>
                <a href="http://twitter.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a>
                <a href="http://rss.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-rss" aria-hidden="true"></i></div>
                </a>
                <a href="http://vk.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-vk" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
        <div>
            <img src="{% static 'shop_games/img/Steven.jpg' %}" alt="Steven">
            <p class="team-name">Steven Wilson</p>
            <p class="team-prof">Vestibulum</p>
            <div class="social-team">
                <a href="http://facebook.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                </a>
                <a href="http://twitter.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                </a>
                <a href="http://rss.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-rss" aria-hidden="true"></i></div>
                </a>
                <a href="http://vk.com" target="_blank">
                    <div class="team-cont"><i class="fa fa-vk" aria-hidden="true"></i></div>
                </a>
            </div>
        </div>
    </div>

</div>
