{% load static %}
<!-- Блок белый -->
<div class="services">
    <h2>Service</h2>
    <table>
        <tr>
            <td class="left"><div><h5>Repreh Qui In Ea Voluptate</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
            <td class="center"><a href="#"><div class="circle"><i class="fa fa-gift" aria-hidden="true"></i></div></a></td>
            <td class="center2"><a href="#"><div class="circle"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></div></a></td>
            <td class="right"><div><h5>Voluptatibus Maiores Alias</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
        </tr>
        <tr>
            <td class="left"><div><h5>Aut Perferendis Doloribus</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
            <td class="center"><a href="#"><div class="circle"><i class="fa fa-usd" aria-hidden="true"></i></div></a></td>
            <td class="center2"><a href="#"><div class="circle"><i class="fa fa-home" aria-hidden="true"></i></div></a></td>
            <td class="right"><div><h5>Dut Aut Reiciendis Maiores</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
        </tr>
        <tr>
            <td class="left"><div><h5>Maiores Alias Consequatur</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
            <td class="center"><a href="#"><div class="circle"><i class="fa fa-bar-chart" aria-hidden="true"></i></div></a></td>
            <td class="center2"><a href="#"><div class="circle"><i class="fa fa-cog" aria-hidden="true"></i></div></a></td>
            <td class="right"><div><h5>Doloribus Volupta Maiores</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
        </tr>

    </table>
</div>
