{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'shop_games/style.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shop_games/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>
    <title>Home</title>
</head>
<body>
    <div class="preloader">
        <div class="preloader__row">
            <div class="preloader__item"></div>
            <div class="preloader__item"></div>
        </div>
    </div>
    <div class="container">
        <a href="#" class="arrow"><img src="/static/shop_games/img/arrow.png" alt="arrow"></a>
    <!-- Верхний блок -->
        <div class="sitebar">
                <!-- Серая полоса -->
                <div class="nav-line">
                    <div class="name vertical">
                        <p class="name-1">Historical
                        <p class="name-2">GAMES</p>
                    </div>
                    <div class="vertical nav-line-img"><img src="/static/shop_games/img/tel_76.png" alt="tel"></div>
                    <div class="vertical"><a class="telephon" href="tel:1234567890">+123 456 7890</a></div>

                    <div class="vertical"><img src="/static/shop_games/img/email.png" alt="email"></div>
                    <div class="vertical"><a class="email" href="mailto:info@example.com">info@example.com</a></div>
                    <div class="search1 vertical">
                        <div class="search">
                            <form action="#">
                                <input type="text" placeholder="Search">
                                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>

                        </div>
                    </div>

                    <!--<div class="search1 vertical">
                        <div class="search">
                            <a href="#">Search</a>
                            <div><img src="img/search.png" alt="Search"></div>
                        </div>
                    </div>-->

                </div>
            <!-- Содержание верхнего блока -->
            <div class="sitebar-content">
                    <div class="menu"><ul>
                        <li><a id="active" href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/services/">Services</a></li>
                        <li><a href="/gallery/">Gallery</a></li>
                        <li><a href="/news/">News</a></li>
                        <li><a href="/team/">Team</a></li>
                        <li><a href="/contacts/">Contact Us</a></li>
                </ul></div>

                <h4>Nunc eget nibh</h4>
                <hr class="hr2">
                <h1>Morbi in nisl auctor</h1>
                <div class="social-block">
                    <a href="http://facebook.com"><div class="social"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
                    <a href="http://twitter.com"><div class="social"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
                    <a href="http://rss.com"><div class="social"><i class="fa fa-rss" aria-hidden="true"></i></div></a>
                    <a href="http://vk.com"><div class="social"><i class="fa fa-vk" aria-hidden="true"></i></div></a>
                </div>
            </div>
        </div>

        <!-- Блок About Us -->
        <div class="about-us">
            <img src="/static/shop_games/img/about-us.jpg" alt="about-us">
            <h3>About Us!</h3>
            <div><p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
            ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci velit. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
            aliquid ex ea commodi consequatur?

            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
            dolorem eum fugiat quo voluptas nulla pariatur?</p></div>

        </div>
        <!-- Блок белый -->
        <div class="services">
            <h2>Service</h2>
            <table>
                <tr>
                    <td class="left"><div><h5>Repreh Qui In Ea Voluptate</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
                    <td class="center"><a href="#"><div class="circle"><i class="fa fa-gift" aria-hidden="true"></i></div></a></td>
                    <td class="center2"><a href="#"><div class="circle"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i></div></a></td>
                    <td class="right"><div><h5>Voluptatibus Maiores Alias</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
                </tr>
                <tr>
                    <td class="left"><div><h5>Aut Perferendis Doloribus</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
                    <td class="center"><a href="#"><div class="circle"><i class="fa fa-usd" aria-hidden="true"></i></div></a></td>
                    <td class="center2"><a href="#"><div class="circle"><i class="fa fa-home" aria-hidden="true"></i></div></a></td>
                    <td class="right"><div><h5>Dut Aut Reiciendis Maiores</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>

                </tr>
                <tr>
                    <td class="left"><div><h5>Maiores Alias Consequatur</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
                    <td class="center"><a href="#"><div class="circle"><i class="fa fa-bar-chart" aria-hidden="true"></i></div></a></td>
                    <td class="center2"><a href="#"><div class="circle"><i class="fa fa-cog" aria-hidden="true"></i></div></a></td>
                    <td class="right"><div><h5>Doloribus Volupta Maiores</h5><span>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span></div></td>
                </tr>

            </table>
        </div>
        

        <!-- Our Gallery -->
        <h2 style="margin-top: 95px;">Our Gallery</h2>
        <div class="our-gallery">
            <div><img src="/static/shop_games/img/71Ivm50PP7L._SL1273_1024x1024@2x.jpg" alt="Assasin’s Creed: Rogue">
                <span>Assasin’s Creed: Rogue</span>
                <a href="gallery/assasin's_creed/"><div class="buy">Buy</div></a>
            </div>
            <div><img src="/static/shop_games/img/51K8FfZ39aL.jpg" alt="">
                <span>Tomb Raider</span>
                <a href="gallery/tomb_raider/"><div class="buy">Buy</div></a>
            </div>
            <div>
                <img src="/static/shop_games/img/fc0fe7ba3b8e092e2ae941b054852d47.jpg" alt="Ryse: Son Of Rome">
                <span>Ryse: Son Of Rome</span>
                <a href="gallery/ryse/"><div class="buy">Buy</div></a>
            </div>
            <div>
                <img src="/static/shop_games/img/91fvOxYmFnL.jpg" alt="World Of Warcraft: Wrath Of The Linch King">
                <span>World Of Warcraft: </span><span class="name-game">Wrath Of The Linch King</span>
                <a href="gallery/warcraft/"><div class="buy buy-new">Buy</div></a>
            </div>
        </div>


    <!-- Testimonial -->
        <div class="testimonial">
            <span id="testimonial">Testimonial</span>
            <img src="/static/shop_games/img/ikonka_2_349.png" alt="ikonka">
            <p>Donec feugiat tellus sem, laoreet iaculis orci lobortis vel. Sed sed luctus orci, at lacinia risus. Ut porttitor ante ac tincidunt elementum. Curabitur ex dolor, condimentum vitae <br>nunc vel, pulvinar semper justo. Vestibulum et aliquet magna, maximus dapibus enim. Vestibulum ex lectus, posuere eu viverra at, mattis et enim. Nam efficitur sem et lectus <br>fringilla, at pharetra nulla luctus. Nunc cursus, augue ac ultricies volutpat, neque erat congue justo, ac pretium tellus eros a neque. Integer ipsum sem, <br>consectetur a mollis ac, cursus eu ipsum.</p>
            <span id="names">JOHN SMITH</span> <span id="prof"> - FOUNDER</span>
        </div>

    <!--Event-->
        <h2>News & Events</h2>
        <div class="news">
            <div>
                <span>Latest News</span>
                <table>
                    <tr>
                        <td class="one-td"><div class="last"><p class="number">15</p><p class="month">June</p><p class="year">2016</p></div></td>
                        <td class="two-td description"><span>Fugiat Quo Voluptas</span><p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                        velit esse.</p></td>
                    </tr>
                    <tr>
                        <td class="one-td"><div class="last"><p class="number">18</p><p class="month">June</p><p class="year">2016</p></div></td>
                        <td class="two-td description"><span>FugQui In Ea Voluptate</span><p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                            velit esse.</p></td>
                    </tr>
                    <tr>
                        <td class="one-td"><div class="last"><p class="number">20</p><p class="month">June</p><p class="year">2016</p></div></td>
                        <td class="two-td description"><span>Autem Vel Eum Iure</span><p>Quis autem vel eum iure reprehenderit qui in ea voluptate
                            velit esse.</p></td>
                    </tr>
                </table>
            </div>
            <div>
                <span>Featured Events</span>
                <div class="feature-img">
                    <img src="/static/shop_games/img/1.png" alt="">
                    <img src="/static/shop_games/img/2.png" alt="">
                    <img src="/static/shop_games/img/3.png" alt="">
                </div>
                <div class="feature">
                    <details>
                        <summary>Assumenda Est Cliche Reprehenderit</summary>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</p>
                    </details>
                    <details>
                        <summary>Assumenda Est Cliche Reprehenderit</summary>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        a type specimen book.</p>
                    </details>
                    <details>
                        <summary>Assumenda Est Cliche Reprehenderit</summary>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                         a type specimen book.</p>
                    </details>
                    <details>
                        <summary>Assumenda Est Cliche Reprehenderit</summary>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                         a type specimen book.</p>
                    </details>
                </div>
            </div>
        </div>
    <!--Our team-->
        <div class="team">
            <h2>Our Team</h2>
            <div class="people">
                <div>
                    <img class="people-img" src="/static/shop_games/img/Mary.jpg" alt="Mary">
                    <p class="team-name">Mary Jane</p>
                    <p class="team-prof">Vestibulum</p>
                    <div class="social-team">
                        <a href="http://facebook.com" target="_blank"><div class="team-cont"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
                        <a href="http://twitter.com" target="_blank"><div class="team-cont"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
                        <a href="http://rss.com" target="_blank"><div class="team-cont"><i class="fa fa-rss" aria-hidden="true"></i></div></a>
                        <a href="http://vk.com" target="_blank"><div class="team-cont"><i class="fa fa-vk" aria-hidden="true"></i></div></a>
                    </div>
                </div>
                <div>
                    <img src="/static/shop_games/img/Peter.jpg" alt="Peter">
                    <p class="team-name">Peter Parker</p>
                    <p class="team-prof">Vestibulum</p>
                    <div class="social-team">
                        <a href="http://facebook.com" target="_blank"><div class="team-cont"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
                        <a href="http://twitter.com" target=" _blank"><div class="team-cont"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
                        <a href="http://rss.com" target="_blank"><div class="team-cont"><i class="fa fa-rss" aria-hidden="true"></i></div></a>
                        <a href="http://vk.com" target="_blank"><div class="team-cont"><i class="fa fa-vk" aria-hidden="true"></i></div></a>
                    </div>
                </div>
                <div>
                    <img src="/static/shop_games/img/John.jpg" alt="John">
                    <p class="team-name">John Watson</p>
                    <p class="team-prof">Vestibulum</p>
                    <div class="social-team">
                        <a href="http://facebook.com" target="_blank"><div class="team-cont"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
                        <a href="http://twitter.com" target="_blank"><div class="team-cont"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
                        <a href="http://rss.com" target="_blank"><div class="team-cont"><i class="fa fa-rss" aria-hidden="true"></i></div></a>
                        <a href="http://vk.com" target="_blank"><div class="team-cont"><i class="fa fa-vk" aria-hidden="true"></i></div></a>
                    </div>
                </div>
                <div>
                    <img src="/static/shop_games/img/Steven.jpg" alt="Steven">
                    <p class="team-name">Steven Wilson</p>
                    <p class="team-prof">Vestibulum</p>
                    <div class="social-team">
                        <a href="http://facebook.com" target="_blank"><div class="team-cont"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
                        <a href="http://twitter.com" target="_blank"><div class="team-cont"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
                        <a href="http://rss.com" target="_blank"><div class="team-cont"><i class="fa fa-rss" aria-hidden="true"></i></div></a>
                        <a href="http://vk.com" target="_blank"><div class="team-cont"><i class="fa fa-vk" aria-hidden="true"></i></div></a>
                    </div>
                </div>
            </div>

        </div>
    <!--Subscribe-->
        <div class="subscribe">
            <span>Subscribe with Us</span>
            <form action="#">
                <input type="text" placeholder="Email">
                <input type="submit" value="Subscribe" name="send">
            </form>
        </div>
    <!--Contacts-->
        <h2>Contact Us</h2>
        <div class="contacts-us">
            <div class="contacts">
                <span>Get in touch with us</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets
                containing Lorem Ipsum passages sed do, At vero eos et accusamus et
                iusto odio digs qui blanditiis
                <br><br>
                Leningradsky AVE 39, BLDG 79<br>
                MOSCOW 125167, Russia
                <br><br>
                Telephone : +00 111 222 3333
                <br><br>
                FAX : +1 888 888 4444
                <br><br>
                Email : <span id="email">mail@example.com</span></p>
            </div>
            <form action="#">
                <input type="text" placeholder="Name"><br>
                <input type="text" placeholder="Email"><br>
                <textarea rows="10" cols="45" name="text" placeholder="Message"></textarea><br>
                <input type="submit" value="SUBMIT" name="send">

            </form>
        </div>
    <!-- Карта -->
        <div class="route-map">
            <h2>Route Map</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2667.220857760278!2d37.53511782627126!3d55.79573036967516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c0ac2b5af5%3A0x4b7a44fd7798fe69!2sGeekBrains!5e0!3m2!1sru!2sru!4v1605984508514!5m2!1sru!2sru" width="1169" height="298" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

    <div class="clr"></div>
    </div>
<!--Footer -->
<div class="footer">
    <span>&copy; {% now "Y" %} Historical Games. All rights reserved | Design by </span><span id="footer">W3layouts</span>
</div>



</body>
</html>