<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/shop_games/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Condensed:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/shop_games/font-awesome-4.7.0/css/font-awesome.min.css">
    <script>
        window.onload = function () {
            document.body.classList.add('loaded_hiding');
            window.setTimeout(function () {
                document.body.classList.add('loaded');
                document.body.classList.remove('loaded_hiding');
            }, 500);
        }
    </script>

    <title>Ryse: Son Of Rome</title>
</head>

<body>
    <div class="preloader">
        <div class="preloader__row">
            <div class="preloader__item"></div>
            <div class="preloader__item"></div>
        </div>
    </div>
    <div class="container-gallery">
        <a href="#" class="arrow"><img src="/static/shop_games/img/arrow.png" alt="arrow"></a>
        <!-- Верхний блок -->
        <div class="sitebar-contact">
            <!-- Серая полоса -->
            <div class="nav-line" style="opacity: 0.7;">
                <div class="name vertical">
                    <p class="name-1">Historical
                    <p class="name-2">GAMES</p>
  
                </div>
                <div class="vertical nav-line-img"><img src="/static/shop_games/img/tel_76.png" alt="tel"></div>
                <div class="vertical"><a class="telephon" href="tel:1234567890">+123 456 7890</a></div>

                <div class="vertical"><img src="/static/shop_games/img/email.png" alt="email"></div>
                <div class="vertical"><a class="email" href="mailto:info@example.com">info@example.com</a></div>
                <div class="search1 vertical">
                    <div class="search">
                        <div class="search">
                            <form action="#">
                                <input type="text" placeholder="Search">
                                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Menu-->
            <div class="sitebar-content">
                <div class="menu-contact">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/about/">Services</a></li>
                        <li><a id="active-2" href="/gallery/">Gallery</a></li>
                        <li><a href="/news/">News</a></li>
                        <li><a href="/team/">Team</a></li>
                        <li><a href="/contacts/">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--Слайдер-->
        <div class="product">
            <div class="slider">
                <div id="fsClipper">
                    <div id="fsScreen"></div>
                </div>

                <div id="fsLinks">
                    <a href="/static/shop_games/img/assassin/1.jpg"
                        onclick="return Show_picture( '/static/shop_games/img/ryse/ryse_1.jpg', 600, 400 )"><img class="mini-img" src="/static/shop_games/img/ryse/ryse_1.jpg" alt="min"></a>
                    <a href="/static/shop_games/img/assassin/2.jpg"
                        onclick="return Show_picture( '/static/shop_games/img/ryse/ryse_2.jpg', 600, 400 )"><img class="mini-img" src="/static/shop_games/img/ryse/ryse_2.jpg" alt="min"></a>
                    <a href="/static/shop_games/img/assassin/3.jpg"
                        onclick="return Show_picture( '/static/shop_games/img/ryse/ryse_3.jpg', 600, 400 )"><img class="mini-img" src="/static/shop_games/img/ryse/ryse_3.jpg" alt="min"></a>
                    <a href="/static/shop_games/img/assassin/4.jpg"
                        onclick="return Show_picture( '/static/shop_games/img/ryse/ryse_4.jpg', 600, 400 )"><img class="mini-img" src="/static/shop_games/img/ryse/ryse_1.jpg" alt="min"></a>
                </div>
            </div>
            <div class="text">
                <span class="discount-games-black">Ryse:</span>
                <p class="discount-games">Son Of Rome</p>
                <span class="discount-price">$29.99</span>
                <a href="#">
                    <div class="buy-product">Buy</div>
                </a>
                <p class="description1">The plot is set in a fictional history of real world events and follows the
                    centuries-old struggle between the
                    Assassins, who fight for peace with free will, and the Templars, who desire peace through control.
                    The story is set in
                    the mid-18th century during the Seven Years' War, and follows Shay Patrick Cormac, an
                    Assassin-turned-Templar who hunts
                    down former members of his Brotherhood after being betrayed by them. Gameplay in Rogue is very
                    similar to that of Black
                    Flag with a mixture of ship-based naval exploration and third-person land-based exploration with
                    some new features.</p>
            </div>
        </div>
        <!-- Our Gallery -->
        <div class="fon">
            <h2>Similar games</h2>
            <div class="our-gallery margin-gallery fon-opacity">
                <div><img src="/static/shop_games/img/shadow.png" alt="MIDDLE-EARTH: Shadow Of War">
                    <span>MIDDLE-EARTH: </span><span class="name-game">Shadow Of War</span>
                    <a href="#">
                        <div class="buy buy-new">Buy</div>
                    </a>
                </div>
                <div><img src="/static/shop_games/img/dishonored.png" alt="DISHONORED 2">
                    <span>DISHONORED 2</span>
                    <a href="#">
                        <div class="buy">Buy</div>
                    </a>
                </div>
                <div>
                    <img src="/static/shop_games/img/thies.png" alt="THIEF">
                    <span>THIEF</span>
                    <a href="#">
                        <div class="buy">Buy</div>
                    </a>
                </div>
                <div>
                    <img src="/static/shop_games/img/hitman.png" alt="HITMAN">
                    <span>HITMAN</span>
                    <a href="#">
                        <div class="buy">Buy</div>
                    </a>
                </div>
            </div>
        </div>
        <!--Contacts-->
        <div class="about-us-contact-2">

            <h2>Contact Us</h2>
            <div class="contacts-us-2">
                <div class="contacts-2">
                    <span>Get in touch with us</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sheets<br>
                        containing Lorem Ipsum passages sed do, At vero eos et accusamus et<br>
                        iusto odio digs qui blanditiis
                        <br><br>
                        Leningradsky AVE 39, BLDG 79<br>
                        MOSCOW 125167, Russia
                        <br><br>
                        Telephone : +00 111 222 3333
                        <br><br>
                        FAX : +1 888 888 4444
                        <br><br>
                        Email : <span id="email-2">mail@example.com</span></p>
                </div>
                <form action="#">
                    <input type="text" placeholder="Name"><br>
                    <input type="text" placeholder="Email"><br>
                    <textarea rows="10" cols="45" name="text" placeholder="Message"></textarea><br>
                    <input type="submit" value="SUBMIT" name="send">

                </form>
            </div>
        </div>
        <!-- Карта -->
        <div class="route-map">
            <h2>Route Map</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2667.220857760278!2d37.53511782627126!3d55.79573036967516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549c0ac2b5af5%3A0x4b7a44fd7798fe69!2sGeekBrains!5e0!3m2!1sru!2sru!4v1605984508514!5m2!1sru!2sru"
                width="1169" height="298" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>

        <div class="clr"></div>

    </div>
    <!--Footer -->
    <div class="footer">
        <span>&copy; 2017 Historical Games. All rights reserved | Design by </span><span id="footer">W3layouts</span>
    </div>
    <script>
        function Filmstrip() {
            this.ePicture = document.getElementById('fsScreen');
            this.ePrev = document.getElementById('fsControl_prev');
            this.eNext = document.getElementById('fsControl_next');
            var eLinks = document.getElementById('fsLinks');
            this.aeLink = eLinks.getElementsByTagName('A');
            this.show_picture = function (sBackground, iWidth, iHeight) {
                this.ePicture.style.backgroundImage = "url(" + sBackground + ")";
                if (iWidth)
                    this.ePicture.style.width = iWidth;
                if (iHeight)
                    this.ePicture.style.height = iHeight;
                this.set_current(sBackground);
            }
            this.set_current = function (sHref) {
                for (var i = 0; i < this.aeLink.length; i++) {
                    if (this.aeLink[i].href.match(new RegExp(sHref + "$"))) {
                        this.aeLink[i].className += " current";
                        this.ePrev.className = this.ePrev.className.replace(/\s+disabled/g, "");
                        this.eNext.className = this.eNext.className.replace(/\s+disabled/g, "");
                        if (i == 0) {
                            this.ePrev.className += " disabled";
                            this.ePrev.onclick = function () { };
                            this.eNext.onclick = this.aeLink[i + 1].onclick;
                        } else if (i == this.aeLink.length - 1) {
                            this.eNext.className += " disabled";
                            this.eNext.onclick = function () { };
                            this.ePrev.onclick = this.aeLink[i - 1].onclick;
                        } else {
                            this.eNext.onclick = this.aeLink[i + 1].onclick;
                            this.ePrev.onclick = this.aeLink[i - 1].onclick;
                        }
                    } else {
                        this.aeLink[i].className = this.aeLink[i].className.replace(/\s*current/g, "");
                    }
                }
            }
        }
        var oFilmstrip = new Filmstrip();
        function Show_picture(sHref, iWidth, iHeight) {
            oFilmstrip.show_picture(sHref, iWidth, iHeight);
            return false;
        }
        oFilmstrip.aeLink[0].onclick();
    </script>
</body>

</html>